section {
    display: block;
    position: relative;
    height: auto;
    width: 100%;
    margin-top: 85px;
}   
.form-daftar {
    padding: 15px;
    border-radius: 12px;
    border: 1px solid #FFFFFF;
}
.form-header h2 {
    font-style: normal;
    font-weight: normal;
    font-size: 26px;
    line-height: 28px;
    letter-spacing: 0.5px;
    color: #ffffff;
    margin-bottom: 20px;
}