.home {
    padding-top: 0;
}
.list-main .item-main {
    position: relative;
    display: block;
    padding-top: 100px;
    height: 100vh;
    width: 100%;
    background-color: transparent;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}
.list-main .item-main h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
.list-main .item-main p {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    opacity: 0.6;
}
.list-main .slick-dots {
    bottom: 10px;
}
.content .navbar-tiket {
    list-style-type: none;
    padding-left: 0;
}
.content .navbar-tiket .nav-item {
    text-decoration: none;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;
    padding-left: 5px;
    padding-right: 5px;
    color: #E1E1E1;
}
.content .navbar-tiket .nav-item:hover,
.content .navbar-tiket .nav-item:active,
.content .navbar-tiket .nav-item:focus {
    color: #FFFFFF;
}
.content .navbar-tiket .nav-item.active {
    color: #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
.item-form {
    display: none;
}
.item-form.active {
    display: block;
}
.form-tiket {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 24px 24px 0px 0px;
    color: #FFFFFF;
    max-width: 327px;
    margin-left: auto;
}
.form-tiket .form-item {
    border-bottom:1px solid #FFFFFF;
    padding-bottom: 7px;
    margin-bottom: 7px;
    position: relative;
}
.form-tiket .textarea {
    border-bottom:unset;
    padding-bottom: 7px;
    margin-bottom: 7px;
    position: relative;
}
.form-tiket i.gj-icon {
    display: none;
}
.form-tiket input[type="date"]::-webkit-inner-spin-button,
.form-tiket input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    -webkit-appearance: none;
}
.form-tiket #pulangpergi {
    margin-left: 5px;
    margin-bottom: -4px;
}
.form-tiket span.icon {
    position: relative;
    background: transparent;
    border: 1px solid #FFFFFF;
    border-radius: 50%;
    color: #FFFFFF;
    font-size: 14px;
    padding: 1px 14px;
    width: 30px;
    height: 30px;
    margin-top: 5px;
}
.form-tiket span.icon i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.form-tiket label {
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    margin-bottom: 0;
}
.form-tiket .textarea label {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.form-tiket input,
.form-tiket input:focus,
.form-tiket input:active,
.form-tiket input:hover,
.form-tiket select,
.form-tiket select:focus,
.form-tiket select:active,
.form-tiket select:hover,
.form-tiket select option {
    background: transparent !important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    border: none;
    padding:0;
    height: auto;
    box-shadow: none;
}
.form-tiket textarea,
.form-tiket textarea:focus,
.form-tiket textarea:active,
.form-tiket textarea:hover,
.form-tiket textarea option {
    background: transparent !important;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    border: 1px solid #FFFFFF;
    padding:0;
    height: auto;
    box-shadow: none;
}
.form-item .select2-container {
    width: 100% !important;
    position: relative;
    border: unset;
    margin-top: -10px;
}
.form-item .select2-container--default .select2-selection--single {
    color: #FFFFFF !important;
    background: transparent !important;
    border: unset !important;
    height: auto !important;
}
.form-item .select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #FFFFFF !important;
    background: transparent !important;
    font-size: 14px !important;
    line-height: 17px !important;
    padding: 0px !important;
}
.form-item .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #FFFFFF transparent transparent transparent !important;
    margin-top: -5px !important;
}
.select2-container--default .select2-results>.select2-results__options {
    background-color: #1A1D24e6;
    border: unset;
}
.select2-results__option {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable,
.select2-container--default .select2-results__option--selected {
    color: #FFFFFF;
    background-color: rgb(26, 29, 36) !important;
    font-weight: 800;
}
.select2-container--open .select2-dropdown--below {
    border: unset !important;
    margin-top: 5px;
}
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 5px 4px 0 4px !important;
}
.form-tiket input:read-only,
.form-tiket select:read-only {
    background: transparent;
}
.form-tiket input::placeholder {
    background: transparent;
    color: hsla(0, 0%, 100%, 0.7);
    opacity: 1;
}
.form-tiket .btn-submit {
    color: #FFFFFF;
    background: #D5031E;
    border-radius: 12px;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    letter-spacing: 0.5px;
    width: 100%;
    margin-top: 10px;
}

/*info*/
.list-info {
    margin: 0;
}
.list-info .item-list {
    padding: 15px;
}
.list-info span {
    color: #FFFFFF;
    font-size: 36px;
    margin-right: 10px;
    margin-top: -5px;
}
.list-info .item-list:last-child span {
    margin-top: -9px;
}
.list-info h5 {
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
.list-info p {
    font-style: normal;
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}

@media (max-width:576px){
    .form-tiket {   
        max-width: 100%;
        margin-left: 0;
    }
    .list-info {
        margin-left: -15px;
        margin-right: -15px;
    }
}

/* Ulga*/
.content-ulasan {
    background: #FFFFFF;
    border-radius: 24px;
    padding: 5px;
}
.content-ulasan span {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    text-align: right;
    letter-spacing: 0.5px;
    color: #D5031E;
    width: 100%;
    display: block;
    text-align: center;
    margin-top: 15px;
}
.content-ulasan h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 65px;
    color: #D5031E;
    text-align: center;
    margin-bottom: 15px;
}
.content-ulasan .list-ulasan {
    background: #1A1D24;
    border: 5px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 24px;
    width: 100%;
    padding: 15px;
    margin-bottom: 0;
}
.content-ulasan .list-ulasan .slick-dots{
    top: -30px;
    bottom: unset;
    left: 0;
}
.content-ulasan .list-ulasan .slick-dots li button:before{
    color: #1A1D24;
}
.content-ulasan .list-ulasan .slick-dots li.slick-active button:before {
    opacity: .75;
    color: #1A1D24;
}
.content-ulasan .list-ulasan .item-list {
    padding-left: 20px;
    padding-right: 20px;
    color: #FFFFFF;
    margin-bottom: 15px;
    margin-top: 15px;
}
.content-ulasan .list-ulasan .item-list p {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    margin-bottom: 0px;
}
.content-ulasan .list-ulasan .item-list .profile {
    width: 100%;
    margin-bottom: 15px;
}
.content-ulasan .list-ulasan .item-list .profile p {
    font-weight: normal;
    margin-bottom: 2px;
}
.content-ulasan .list-ulasan .item-list .profile img {
    width: 45px;
    height:45px;
    background-color: #dddddd;
    margin-right: 10px;
    border-radius: 12px;
}

.content-gallery  {
    display: block;
    position: relative;
    padding: 0;
}
.content-gallery .title {
    display: block;
    position: absolute;
    top: 0;
    z-index: 1;
    padding-left: 15px;
    padding-top: 15px;
}
.content-gallery p {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
.content-gallery h3 {
    font-style: normal;
    font-weight: 500;
    font-size: 3rem;
    line-height: 65px;
    color: #FFFFFF;
}
.content-gallery .embed-responsive-21by9::before {
    padding-top: 44.4%; 
}
