@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Lato&family=Libre+Baskerville&family=Open+Sans:wght@300&family=Playfair+Display&family=Source+Sans+Pro&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background: #1A1D24;
}
a {
    text-decoration: none;
}
section {
    padding-top: 25px;
    padding-bottom: 25px;
}

/* slick */
.slick-slider .slick-dots li {
    width: 10px;
    height: 10px;
}
.slick-slider .slick-dots li button:before {
    font-size: 15px;
    color: #FFFFFF;
}
.slick-slider .slick-dots li.slick-active button:before {
    opacity: .75;
    color: #FFFFFF;
}
.arrowNavigation {
    position: absolute;
    top: calc(50% - 40px + 25px);
    left: 50px;
    right: 50px;
}
.arrowNavigation .slick-arrow {
    position: inherit;
    display: inline-block;
    font-family: fontawesome;
    width: 50px;
    height: 50px;
    color: rgba(255, 255, 255, 0.75);
    text-align: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: 50px;
    line-height: 1;
}
.arrowNavigation .slick-arrow:hover i {
    color: rgba(255, 255, 255, 0.9);
}
.arrowNavigation .slick-arrow.slick-disabled,
.arrowNavigation .slick-disabled:hover i {
    color: rgba(255, 255, 255, 0.1);
    cursor: not-allowed;
}
.arrowNavigation .slick-arrow:hover {
    background-color: transparent;
    border: none;
}
.arrowNavigation .prevArrowNav {
    transition: left .4s ease;
    left: -20px;
}
.arrowNavigation .nextArrowNav {
    transition: right .4s ease;
    right: 0px;
}
/* end slick */

/* start */
:root {
    --star-size: 14px;
    --star-color: #fff;
    --star-background: #fc0;
}
.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: var(--star-size);
    font-family: Times;
    line-height: 1;
}
.Stars::before {
    content: '★★★★★';
    letter-spacing: 3px;
    background: linear-gradient(90deg, var(--star-background) var(--percent), var(--star-color) var(--percent));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
/* end start */

/* header */
.navbar {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 24px 24px 0px 0px;
}
.navbar .navbar-brand {
    width: 229px;
}
.navbar-toggler .icon-bar {
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    background-color: #ffffff;
    transition: all 0.2s;
    margin-top: 4px;
}
.navbar-toggler .icon-bar:first-child {
    margin-top: 0;
}
.navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}
.navbar-toggler .middle-bar {
    opacity: 0;
}
.navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}
.navbar-toggler.collapsed .top-bar {
    transform: rotate(0);
}
.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
}
.navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0);
}
.navbar .nav-link {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
.navbar .nav-link:hover,
.navbar .nav-link:active,
.navbar .nav-link:focus {
    font-weight: 800;
}
/* end header */

/* footer */
footer {
    background: transparent;
    color: #FFFFFF;
}
footer section {
    border-bottom: 2px solid #FFFFFF;
}
footer h4 {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
}
footer .explore h6, 
footer .contact h6{
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
}
footer .explore a, 
footer .contact a{
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    display: block;
    margin-bottom: 5px;
}
footer .download {
    max-width: 100%;
    width: 100%;
}
footer .btn {
    background-color: #ffffff;
    padding: 0.375rem 1.75rem; 
    color: #1A1D24; 
}
footer .btn-cs {
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    border-radius: 12px;  
    align-self: center;
    margin: 0 auto;
    display: block;
    width: 100%;
}
footer .btn-gp,
footer .btn-apple {
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    border-radius: 12px; 
    width: 100%;
    padding: 0.375rem .75rem; 
}
footer .btn-gp span,
footer .btn-apple span{
    font-style: normal;
    font-weight: normal;
    font-size: 9px;
    line-height: 11px;
    color: #1A1D24;
    text-align: left;
}
footer .btn-gp p,
footer .btn-apple p{
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 14px;
    color: #1A1D24;
    margin-bottom: 0;
    text-align: left;
}
footer .copyright {
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
footer .copyright a {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    letter-spacing: 0.1em;
    color: #FFFFFF;
    margin-left: 5px;
    margin-right: 5px;
}
footer .footer-logo {
    background: #FFFFFF;
    border-radius: 24px 24px 0px 0px;
}
footer .footer2 {
    border-top: 2px solid #FFFFFF;
}
@media (min-width: 768px){
    footer .download {
        max-width: 27%;
        width: 100%;
    }
}
@media (min-width: 992px){
    footer .download {
        max-width: 27%;
        width: 100%;
    }
    footer .btn-cs {
        width: 75%;
    }
}
@media (min-width: 1140px){
    footer .download {
        max-width: 23%;
        width: 100%;
    }
}
@media (max-width: 576px){
    footer .download {
        max-width: 100%;
        width: 100%;
    }
    footer .btn-cs {
        width: 100%;
    }
}
/* end footer */

/* ui autocomplete */
ul.ui-autocomplete {
    background: #1A1D24e6;
    padding: 10px;
    border-radius: 3px;
    margin-left: -10%;
}
ul.ui-autocomplete li {
    border-bottom:1px solid #FFFFFF;
    padding-top: 5px;
    padding-bottom: 5px;
}
ul.ui-autocomplete li h5 {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 17px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    margin-bottom: 3px;
}
ul.ui-autocomplete li p {
    font-family: 'Lato', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.5px;
    color: #FFFFFF;
    margin-bottom: 0;
}
/* end ui autocomplete */
